<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <h2>home page</h2>
      <li>
          {% for row in post_title %}
          <ul>
              {% for key, value in row.items() %}
                  {{key}}:{{value}}
               {% endfor %}
                  <a href = "{{url_for('view_blog', post_id = row['post_id'])}}" method = "POST"> View blog</a>
           </ul>
          {% endfor %}
           
        
      </li>
      <form action = "{{url_for('logout')}}" method = "POST">
          <input type = "submit" value = "Logout"></input>
      </form>
    	<script src="index.js"></script>
  </body>
</html>