<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <h2> View blog </h2>
     <li>
         {% for row in data %}
         <ul>
             {% for key, value in row.items() %}
                 {{key}}:{{value}}  
              {% endfor %}
                <form action = "{{url_for('update_post_page')}}" method = "POST">
                    <input type = "submit" value = "Edit"></input>
                </form>   
              <img src = "{{url_for('render_images', filename = filename)}}"</img>
          </ul>
           <form action = "{{url_for('add_comment', post_id = row['post_id'])}}" method = "POST">
               <input type = "text" placeholder = "add comment" name = "content"></input>
               <input type = "submit" value = "Submit"></input>
           </form>
         {% endfor %}
         <li>
             {% for user_row in user_details %}
                 <ul>
                     {% for key, value in user_row.items() %}
                         {{key}}:{{value}}
                     {% endfor %}
                 </ul>
                 <form action = "{{url_for('delete_comment', post_id = user_row['post_id'], comment_id = user_row['comment_id'])}}" method = "POST">
                     <input type = "submit" value = "Delete comment"></input>
                 </form>
             {% endfor %}
         </li>
        
     
	<script src="index.js"></script>
  </body>
</html>